body {
	background:#565c5e;
	display:flex;
	justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}


#search-container {
	text-align: center;
	max-width: 800px;
}

h1 {
	color: white;
	font-family: Arial, sans-serif;
	font-weight: bold;
	font-size: 48pt;
	margin-top: 100px;
	clear: right;
}

input {
	margin: 50px 0;
	background: none;
	border-bottom: 1px solid white;
	border-top: none;
	border-left: none;
	border-right: none;
	width: 200px;
	height: 30px;
}

input:focus {
	outline: none;
	border-bottom: 3px white;
	color: white;
}

::-webkit-input-placeholder {
	color: white;
	font-weight: bold;
}

:-moz-placeholder {
	/* Firefox 18- */
	color: white;
	font-weight: bold;
}

::-moz-placeholder {
	/* Firefox 19+ */
	color: white;
	font-weight: bold;
}

:-ms-input-placeholder {
	color: white;
	font-weight: bold;
}

button {
	width: 100px;
	height: 100px;
	background: none;
	border: none;
}
