body {
	background:#565c5e;
}


#search-container{
	width: 90%;
	margin: 0 auto;
}

h1 {
	color: white;
	font-family: Arial, sans-serif;
	font-weight: bold;
	font-size: 48pt;
	margin-top: 100px;
	clear: right;
}

input {
	margin: 50px 0;
	background: none;
	border-bottom: 1px solid white;
	border-top: none;
	border-left: none;
	border-right: none;
	width: 200px;
	height: 30px;
}

input:focus {
	outline: none;
	border-bottom: 3px solid white;
	color: white;
}

::-webkit-input-placeholder {
	color: white;
	font-weight: bold;
}

:-moz-placeholder {
	/* Firefox 18- */
	color: white;
	font-weight: bold;
}

::-moz-placeholder {
	/* Firefox 19+ */
	color: white;
	font-weight: bold;
}

:-ms-input-placeholder {
	color: white;
	font-weight: bold;
}

button {
	width: 100px;
	height: 100px;
	background: none;
	border: none;
	position: absolute;
	top: 200px;
	left: 275px;
}
